<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>cheapgpt</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<section class="chat">
			<h1>chats</h1>
		</section>
		<form action="/logout" method="post">
			<button class="logout" type="submit">Sign out</button>
		</form>
	</body>
</html>
